@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
    font-family: 'Patrick Hand SC', cursive;
}

#style-container{
    margin-top: 10px;
    width: 100%;
    padding-bottom: 40px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

#buttonNew {
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 89%;
}

thead {
    font-size: 20px;
}


tbody tr {
    background-color: white;
    font-size: 20px;
}

#linkInfo, #linkEdit{
    margin-right: 10px;
}
